
// DEMO CSS
*, *:after, *:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}


//SHELBY CSS

#post_page {


  .wrapper {
    max-width: 960px;
    width: 100%;
    padding: 0px 20px;
  }

  h1, .jobDesc {
    margin: 0px;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.06em;
    padding-right: 7px;
    font-weight: 100;

    display: inline-block;
    line-height: 125%;
  }

  #controlRow.project_title {
    height: auto;
  }

  .project_title {
    float: left;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 30px;

    .clientName {
      margin: 0px 0 5px;
      font-weight: 600;
      float: left;
      width: 100%;
      font-size: 17px;
      text-transform: uppercase;
      color: $red;
      letter-spacing: 0.05em;
    }

  }

  .postSection {
    float: left;
    width: 100%;
    padding-bottom: 60px;

    h2 {
      margin: 0px 0 15px;
      font-weight: 600;
      float: left;
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      color: $red;
      letter-spacing: 0.05em;
    }

    ul, ol {
      list-style: none;
      padding: 0 0 0 30px;
      margin: 0;
    }

    ol li {
      counter-increment: counter;
      padding: 10px 0;
      margin: 0;
      &::before {
        content: counter(counter);
        margin-right: 5px;
        font-size: 20px;
        //background-color: rgb(200,200,200);
        color: #b9b9b9;
        font-weight: 800;
        padding: 3px 15px 3px 0;
        //border-radius: 3px;
        position: relative;
        top: 1px;
      }
    }

    a {
      color: $text-color;
      font-weight: 100;
      font-size: 18px;
      text-decoration: none;
      letter-spacing: 0.025em;
      &:hover {
        color: $red;
      }
    }
  }

  footer {
    float: left;
    width: 100%;
  }
}




#post_image {
  background: #ececec !important;//slightly darker than upload site

  .project_title-post {
    float: left;
    display: inline-block;
    padding-right: 50px;
  }

  .hamburger {
    //position: fixed;
    //right: 0px;
    //top: 0px;

    #showRight {
      position: absolute;
      z-index: 3;
      right: 25px;
      top: 25px;
      float: right;
      display: inline-block;
      background: url("../img/hamburger.png") no-repeat #FFFFFF;
      background-position: top center;
      height: 20px;
      width: 25px;
      padding: 3px;
      -webkit-transition: ease-in-out 0.25s ;
      -moz-transition: ease-in-out 0.25s ;
      -o-transition: ease-in-out 0.25s ;
      transition: ease-in-out 0.25s ;
      transition-delay: 0.20s;
    }

    #showRight.active {
      background-position: bottom center;
      -webkit-transition: ease-in-out 0.25s ;
      -moz-transition: ease-in-out 0.25s ;
      -o-transition: ease-in-out 0.25s ;
      transition: ease-in-out 0.25s ;
      transition-delay: 0.25s;

    }
  }

  header {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 24px 25px;

    //.wrapper {
    //  padding: 24px 25pxpx 24px 0px;
    //}
    span {
      font-weight: 100;
      color: $text-color;
      font-size: 15px;
    }
  }

  .image-container {
    margin: 0 auto;
    width: 100%;
    padding-top: 100px;
    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 1280px;
    }
  }
}



 //SLIDE CSS
.page_navigation {
  display: none;
  background: transparentize(#ececec, 0.025);
  position: fixed;
  right: 0px;
  border-left: 1px solid #D7D7D7;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 70px;

  .menu-title {
    display: block;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 20px;
    color: $text-color;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    //background: #fff;
  }

  .back_to_list{
    display: block;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 20px;
    color: $red;
    font-weight: 600;
    font-size: 9px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    background: #fff;
    &:hover {
      background: #fff;
      color: #b00c00;
    }
  }

  a {
    display: block;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    padding: 20px;
    color: $text-color;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.05em;
    &:hover {
      background: $red;
      color: #fff;
    }
    &:active {
      background: $red;
      color: #fff;
    }
  }
}


@media only screen and (max-width: 768px){

  #post_page{
    .project_title {

      h1, .jobDesc {
        font-size: 32px;
      }

    }
    .postSection {
      ol li::before{font-size: 14px;}
      a{font-size: 16px}
    }
  }

  #post_image {
    header {
      min-height: 83px;
      span {
        font-size: 12px;
      }
    }
  }

  .page_navigation {
    padding-top: 83px;
  }

}

